<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("faker", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-two-col">
            <div class="tab" tab="faker">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("faker", "fake") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="renamer">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("faker", "rename") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        
        <!-- fake -->

        <div class="box-paper footer has-footer-upper twOverflow-content-faker"><p>ID gracza oraz ID wioski znajdziesz na <a href="http://www.tw2-tools.com/" target="_blank"><#= locale("faker", "link") #></a> oraz w minimapie.</p>
			
            <h5 class="twx-section"><#= locale("faker", "fakesend") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="fakes" value="" autocomplete="off" placeholder="<#= locale("faker", "entry/id") #>">
                            </td>
                            <td class="item-name"><#= locale("faker", "text") #></td>
                            <td class="item-send"><span class="btn btn-orange addSelected" tooltip="<#= locale("faker", "sending") #>"><#= locale("faker", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h5 class="twx-section"><#= locale("faker", "fakesend1") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="fakes1" value="" autocomplete="off" placeholder="<#= locale("faker", "entry/id") #>">
                            </td>
                            <td class="item-name"><#= locale("faker", "text1") #></td>
                            <td class="item-send1"><span class="btn btn-orange addSelected" tooltip="<#= locale("faker", "sending1") #>"><#= locale("faker", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h5 class="twx-section"><#= locale("faker", "fakesend2") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="17%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="fakes2" value="" autocomplete="off" placeholder="<#= locale("faker", "entry/vid") #>">
                            </td>
                            <td class="item-name"><#= locale("faker", "text2") #></td>
                            <td class="item-send2"><span class="btn btn-orange addSelected" tooltip="<#= locale("faker", "sending2") #>"><#= locale("faker", "send") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- rename -->

        <div class="box-paper footer has-footer-upper twOverflow-content-renamer">
            <h5 class="twx-section"><#= locale("faker", "renamev") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="15%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="rename" value="" autocomplete="off" placeholder="<#= locale("faker", "entry/name") #>">
                            </td>
                            <td class="item-name"><#= locale("faker", "text3") #></td>
                            <td class="item-rename"><span class="btn btn-orange addSelected" tooltip="<#= locale("faker", "renaming") #>"><#= locale("faker", "change") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="15%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="rename1" value="" autocomplete="off" placeholder="<#= locale("faker", "entry/name") #>">
                            </td>
                            <td class="item-name"><#= locale("faker", "text4") #></td>
                            <td class="item-rename1"><span class="btn btn-orange addSelected" tooltip="<#= locale("faker", "renaming") #>"><#= locale("faker", "change") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>
</div>
